[Unit]
Description = User Service
[Service]
User=roboshop
Environment=REDIS_HOST=redis-{{ENV}}.{{DOMAIN}}
Environment=MONGO_URL="mongodb://mongo-{{ENV}}.{{DOMAIN}}:27017/users"
ExecStart=/bin/node /home/roboshop/user/server.js
SyslogIdentifier=user

[Install]
WantedBy=multi-user.target
