[Unit]
Description=Shipping Service

[Service]
User=roboshop
Environment=CART_ENDPOINT=cart-{{ENV}}.{{DOMAIN}}:8080
Environment=DB_HOST=mysql-{{ENV}}.{{DOMAIN}}
ExecStart=/bin/java -jar /home/roboshop/shipping/shipping.jar
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target

